@media only screen and (min-width: 60em) {

.whitespace {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}
.fitts_law {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}
.rule_thirds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}
}