@media only screen and (min-width: 32rem) {

    .header-collapse{
        display: flex;
        width: 100%;
    }
    .date-related{
        display: flex;
    }
    
    nav button{
        display: none;
    }
    
    nav ul#navigation{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    nav ul.open{
        display: flex;
    }
    .mid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #spot3 {
        grid-column: 1/-1;
    }
    
    /* services */
    
    .secondrow picture img, .sixthrow picture img{
        width: 95%;
    }
    
    .secondrow{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    
    .sixthrow{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    
    /* Directory Page */
    .resize-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .resize-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    }