@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Merriweather:ital@0;1&display=swap');


html, body {
    max-width: 1100px;
}
h1 {
    font-size: 30pt;
    font-family: 'Bonheur Royale', cursive;

}
p {
    font-family: merriweather, sans-serif;
    font-style: italic;
}
/* Header */

header {
    align-content: center;
}
  /* Slideshow Text*/
.trans-1, .trans-2 {
	/* position: absolute; */
  display: inline;
	top: 2em;
  
  width: 60%;
  
  font-size: 2em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.trans-1 {
	animation-name: anim-1;
}
.trans-2 {
	animation-name: anim-2;
}
@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}
@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}
.logo-title {
    display: inline-block;
    background-color: gold;
}
.header-collapse a, .header-collapseheader img {
    margin-right: auto;
    max-width: 100%;
    height: 100%;
}
.fa:hover {
    opacity: 0.7;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    border-radius: 10px;
}
nav button:hover{
	color: #fff;
    opacity: 0.7;

}
nav {
    background-color: white;
}
nav ul li a {
	display: block;
    font-size: 1.7rem;
    font-weight: bold;
	color: black;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    margin: 5px;
}
nav ul li a:hover {
	color: black;
    opacity: 0.5;
}
nav ul{
    list-style-type: none;
    display: none;
}
nav #navigation ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
    /* hides sublists */
}
nav #navigation li:hover ul {
    display: block;
}
/* shows sublist on hover */
nav #navigation li li:hover ul {
    display: block;
}
/* top image */
.hero{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.hero img{
    width: 50%;
    height: 50;
    object-fit: cover;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}
.hero img.next {
    opacity: 1;
    z-index: 1;
}
.hero img.prev {
    opacity: 1;
    z-index: 2; 
}
.hero img.fade-out {
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
    visibility: hidden;
}
.invite {
text-align: center;
}
/* about temple summary */
.about{
    box-shadow: 0 0 8px gray;
    padding: 2%;
    max-width: 100%;
}
.news h1{
    color: black;
    background-color: gold;
    padding: 10px;
}
.news p{
    margin-left: 10px;
    padding-bottom: 10px;
}

/* spot 1 */

.temple-service{
    border-left: 10px solid brown;
    background-color: gold;
    text-align: center;
}
#spot1{
    margin-left: 10px;
}
.temple-service img{
    display: block;
    max-width: 100%;
    max-height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.temple-service p{
    margin: 20px 20px 20px 20px;
}

/* spot 2 */

.temple-timetable{
    border-left: 10px solid rgb(172, 152, 38);
    background-color: rgb(233, 200, 17);
    text-align: center;
}
#spot2{
    margin-left: 10px;
}
.temple-timetable img{
    display: block;
    max-width: 100%;
    max-height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.temple-timetable p{
    margin: 20px 20px 20px 20px;
}

/* spot 3 */

.temple-experiences {
    border-left: 10px solid rgb(176, 34, 140);
    background-color: rgb(233, 200, 17);
    text-align: center;
}
#spot3{
    margin-left: 10px;
}
.temple-experiences img{
    display: block;
    max-width: 100%;
    max-height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.temple-experiences p{
    margin: 20px 20px 20px 20px;
}

/* join */
.join{
    display: flex;
    margin: 10px;
    justify-content: center;
}
.join img{
    max-width: 100%;
    height: 100%;
}
.join div{
    margin-top: auto;
    margin-bottom: auto;
}
.join div button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    appearance: none;
    background-color: rgb(233, 200, 17);
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
}

.join div button:hover {
    background-color: rgb(233, 200, 17);
}

.join div button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.join div button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.join div button:active {
    background-color: rgb(233, 200, 17);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* event */

.event{
    box-shadow: 0 0 8px gray;
    background-color: rgb(233, 200, 17);
    margin-top: 10px;
}
.event-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.event h1{
    margin-top: 0px;
    color: black;
    background-color: rgb(233, 200, 17);
    padding: 10px;
}
.event img{
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.event p{
    margin-left: 5px;
    margin-right: 5px;
}

/* weather */

.weather{
    box-shadow: 0 0 8px gray;
    background-color: rgb(233, 200, 17);
    margin-top: 10px;
}
table .weather.tb {
    display: inline;
}
.weather-top{
    display: flex;
    justify-content: center;
}
.weather-bottom{
    text-align: center;
}
.wind-speed, .wind-chill{
    display: flex;
    justify-content: center;
}
.weather h1{
    color: black;
    background-color: rgb(190, 170, 55);
    padding: 10px;
    margin-top: 0px;
}

#weathericon{
    max-height: 150px;
    max-width: 150px;
}
.weather h2{
    font-weight: bold;
}
td .windchill, .windspeed {
    font-size: 30pt;
}

/* bottom image */

#bottom_img{
    max-width: 100%;
    height: auto;
    padding-bottom: 0px;
}

/* footer */

footer{
    text-align: justify;
    background-color: rgb(233, 200, 17);
    color: black;
    padding: 10px;
}
.questions {
    font-size: large;
    border: #D93B65;
}
.footer-logo-click {
    display: grid;
    grid-template-columns: 1fr;
    word-spacing: 5px;
}
footer a, footer img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}
footer p {
    margin-left: 1rem;
    line-height: 20pt;
}
 h2 {
    text-align: center;
    font-weight: bold;
}
.info {
    display: block;
    text-align: center;
}
.social {
    display: block;
}
.social img {
    width: 35px;
    height: 35px;
  }
  .social,
  nav ul li a {
    align-items: end;
    text-align: center;
  }
/* HIDE */
.hide {
    display: none;
}
/*----------- MAIN-Directory --------------*/

.directory {
    display: block;
    width: auto;
    border: #000 10px;
    gap: 1.5rem;
    margin: 0 0 0 0;
}
h2 {
    margin-bottom: 3px;
    margin-top: 8px;
    font-size: 20px;
}

.businessname {
    color: rgb(50, 67, 224);
    font-size: larger;
}

.address {
    color: rgb(79, 94, 221);
    font-size: larger;
}

.phonenumber {
    color: rgb(119, 130, 226);
    font-size: large;
}

.website {
    color: rgb(8, 1, 14);
    font-size: large;
}

.email {
    color: rgb(5, 1, 8);
    font-size: large;
}
.services {
    color: rgb(5, 1, 8);
    font-size: large;
}
.timetable {
    color: rgb(5, 1, 8);
    font-size: large;
}
.announcement {
    color: rgb(5, 1, 8);
    font-size: large;
}
.dedication {
    color: rgb(5, 1, 8);
    font-size: large;
}
.ordinance {
    color: rgb(5, 1, 8);
    font-size: large;
}
.locale {
    color: rgb(5, 1, 8);
    font-size: large;
}
.facts1 .facts2 .facts3 .facts4 {
    color: rgb(5, 1, 8);
    font-size: Large;
}


.main-dir {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1/5;
    margin: 1rem;
    position: relative;
    border-top: 5px solid #555;
    text-align: center;
    background-color: #c6ebbe;
    display: block;
}

.busdirect {
    color: #445ba9;
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px #999;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 3px;
}

.main-dir .directory section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    align-items: center;
    border: #9c2c13 dashed;
}

section img {
    width: 95%;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    max-height: 200px;
    border: 1px solid #333;
}

section.cards {
    margin: 20px 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
}

/* Services page */
.services picture img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.services picture img:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.services picture img{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 300px;
    object-fit: cover;
}
.services h3{
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}

/* Lazy load */

/* Join page */

/* Thank you page */
#thankyouA, #thankyouB{
    background-color: rgb(127, 124, 175, 0.3);
    text-align: center;
    padding: 30px;
}
#thankyouA{
    background-color: rgb(233, 200, 17);
    margin-bottom: 0px;
}
#thankyouB{
    margin-top: 0px;
}

/* Temples page */

.galleryList{
    color: rgb(179,3,0);
    text-align: center;
    border-bottom: thin solid #888;
}
.galleryList button{
    margin:10px;
    border: thin solid rgb(179,3,0);
    border-radius: 5px;
}
.galleryList button i{
    margin:5px;
}

.fa-th{
    margin:10px;
    margin-right: 20px;
    border-radius: 15%;
    color: rgb(179,3,0);
}
.fa-th-list{
    margin:10px;
    margin-right: 20px;
    border-radius: 15%;
    color: rgb(179,3,0);
}
.pressed-directory-btn{
    background-color: rgb(179,3,0,0.3);
    border: thin solid rgb(179,3,0);
    border-radius: 5px;
}
.zebra{
    background-color: rgb(179,3,0,0.1);
}
.cards img{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
}
.cards .cardDesign{
    text-align: center;
    margin: 0;
    box-shadow: 0px 5px 5px #888;
}

/* x button magic */
#hamburgerBtn span:nth-child(1){display: block;} /*display hamburgerBtn(the first span child) as block*/
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;} 
#hamburgerBtn.open span:nth-child(2){display: block;}

/* Reservation page */
.reservation {
	height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
}
form{
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(179,3,0, 0.3);
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(128, 128, 128);
}
form label, form input, form div p, form textarea, form button{
    margin: 3px;
}
#description{
    grid-column: 2/3;
}
form button{
    grid-column: 1/3;
}
  label {
    display: block;
    font-family: 'Merriweather', serif;    
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Merriweather', serif;    
    width: 100%;
    padding: 10px;
  }  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Merriweather', serif;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }

/* 3 Day weather */
.forecast {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: .2rem;
    font-size: 1rem;
}
/* 
/* Quote slideshow */
/* #slideshow {
    overflow: hidden;
    height: 510px;
    width: 5000px;
    margin: 0 auto;
  }
  
  .slide-wrapper {
    width: 4000px;
    -webkit-animation: slide 18s ease infinite;
  }
  
  .slide1 .slide2 .slide3 .slide4 .slide5 {
    float: left;
    height: 80%;
    width: 100%;
  }
  
  .slide1:nth-child(1) {
    background: #D93B65;
  }
  
  .slide2:nth-child(2) {
    background: #037E8C;
  }
  
  .slide3:nth-child(3) {
    background: #36BF66;
  }
  
  .slide4:nth-child(4) {
    background: #D9D055;
  }
  .slide5:nth-child(5) {
    background: purple;
  }
  
  @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -1000px;}
    50% {margin-left: -1000px;}
    60% {margin-left: -2000px;}
    70% {margin-left: -2000px;}
    80% {margin-left: -3000px;}
    90% {margin-left: -3000px;}
  } */ */

  /* Slideshow Text*/
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.item-1, 
.item-2, 
.item-3 {
	/* position: absolute; */
  display: inline;
	top: 2em;
  
  width: 60%;
  
  font-size: 2em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

/* Slideshow */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
}

div .SlideSh {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  font-family: "industry";
  border: dashed orangered;
}

.slideShow {
  height: 100%;
  width: 75%;
  min-width: 750px;
  margin: 0 auto;
  overflow: visible;
}
.slideShow__container {
  height: 100%;
  width: 100%;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  position: relative;
}
.slideShow__slide {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
}
.slideShow__image {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  transform: scale(0.8);
}
.slideShow__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.slideShow__titleWrap {
  font-size: 1rem;
  position: absolute;
  left: 4rem;
  bottom: 4rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  color: #fff;
}
.slideShow__slideTitle {
  font-weight: 300;
  z-index: 500;
  color: #fff;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0 0 0.5rem;
  opacity: 0;
}
.slideShow__slideSubTitle {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-left: 0.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
}
.slideShow__next, .slideShow__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5em;
  line-height: 1em;
  color: #fff;
}
.slideShow__next i, .slideShow__prev i {
  display: block;
  float: left;
}
.slideShow__next {
  right: 1rem;
  cursor: pointer;
}
.slideShow__prev {
  left: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
  transform-origin: center;
}
.slideShow__prev.is-inactive {
  opacity: 0.3;
  cursor: default;
}