/*
@media only screen and (min-width: 54rem) {
    nav ul li a {
        padding: .5rem 1rem;
    }
    }

/* Desktop Views ****************************/
@media only screen and (min-width: 75em) {
	header  {
    display: flex;
	flex-direction: row;
    background-color: #bed;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
	margin: 10 10 0 0;
}
	
	header img {
		width: 50%;
		height: auto;
	}
	.title {
		margin: 0 40px 0 0;
		width: 350px;
		justify-content: center;
	}
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}
.directory {
    width: auto;
    border: #000 10px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 35vw 35vw;
    margin: 20 0 0 0;
}
.lazyload_img {    
	width: auto;
	border: #000 10px;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 35vw 35vw;
	margin: 20 0 0 0;
}

footer {
    display: flex;
	flex-direction: row;
}