/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
/* html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} */

/*----------- apply a natural box layout model to all elements --------------*/
/* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } */

@charset "UTF-8"; /* not necessary */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}
div#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #c6ebbe;
    width: 100%; 
  }
  div#banner-content { 
    width: 800px; 
    margin: 0 auto; 
    padding: 10px; 
    border: 1px solid #000;
    text-align: center;
    display: none;
  }
  div#main-content { 
    padding-top: 70px;
 }

/* phone or baseline views **************************/
header,
footer {
	background-color: #bed;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px;
    margin: 20px;
}
header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}
header img {
    width: 80px;
    height: auto;
}
.headings {
    display: flex;
    flex-direction: row;
}
h1 {
	font-size: 1.1rem;
}
h2 {
	color: #536878;
}
p  {
    font-size: 1rem;
}
nav {
    background-color: #c6ebbe;
    text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    width: 960px;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
    font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}
nav a:hover {
	/* 	background-color: #bbb;
	color: #36454f; */
	--d: 75%;
}
.active {
	color: rgb(50, 67, 224);
}
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 0.8rem;
}
main article {
	margin: .5rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #eee;
}
main article ul {
margin: 1rem 0 0 1rem;
}
main picture {
	display: none;
	margin: 0.5rem;
    background-color: #eee;
}
.pic_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.floatdiv  {
    position: left;
    border: 3px dashed cyan;
    width: 400px;
    height: 100px;
  }
.floatdiv2  {
    position: right;
    border: 3px dashed cyan;
    width: 400px;
    height: 100px;
  }
.weather {
      position: absolute;
      top: 25px;
      right: 50px;
      background: radial-gradient(#eee, #4567aa);
      border: 1px solid #000;
      padding: 1.5rem;
      box-shadow: 0 0 30px #333;
      opacity: .6;
  }
.temperature {
    position: absolute;
    top: 25px;
    right: 50px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
    opacity: .6;
}
footer {
	height: 2rem;
}
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {display: block;}
nav ul.open {display: block;}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

.today {
	color: tomato;
}
.lazyload_img {
        grid-row: auto;
        width: 400px;
        padding: 50px;
        margin-bottom: 75px;
}
img {
    filter: blur(0em);
}
img[data-src] {
    filter: blur(0.2em);
  }


/*
h1, p {margin: 0 2vw;}
header {background-color: 95b2b0;
    font-size: 1rem;
    padding: 5px;
    display: inline-flex;
    align-content: center;
    justify-content: center;}
header img {
    width: 190px;
    height: auto;
}
.headings h1 {
    font-size: 3rem;
}
.headings {
    display: flex;
    flex-direction: column;
}
.m {
    letter-spacing: 1.5pt;
    font-size: larger;
    margin-left: 17px;
}
main {background-color: 647aa3;
    display: none;}
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav {
    background-color: #c6ebbe;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {display: none;}
nav ul.open {display: block;}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


