@media screen (max-width: 480px);

/* phone or baseline views **************************/

:root {
    --clr-text: var(--clr-text);
    --main-clr-bg: 98e2c6;
    --ff-title: "Merriweather", serif;
    --ff-para: "Merriweather", serif;
}

html {
    font-family: var(--ff-para);
    color: var(--clr-text);
    font-size: 1.125rem;
    margin: 0;
}
/*----------- TYPE --------------*/
h2 {
    font-family: var(--ff-title);
    line-height: 0.8;
    font-size: 20px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/*----------- BODY --------------*/

body {
    margin: 0 auto;
    max-width: 960px;
    font-size: 16px;
    font-family: var(--ff-title);
}
/*----------- HEADER --------------*/
header {
    display: flex;
    flex-direction: column;
    background-color: #bed;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}
header img {
    width: 80px;
    height: auto;
    padding-left: 20px;
    margin-right: 50px;
}
header.logo {
    size: 100%;
}
header p {
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: block;
}

.title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.1rem;
}

h2 {
    color: #536878;
}

p {
    font-size: 1rem;
}

div#banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c6ebbe;
    width: 100%;
}

div#banner-content {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    display: none;
}

.socialapps {
    display: flex;
    justify-content: center;
    padding: 25px;
}

* .socialapps img {
    width: 5vw;
    gap: 10px;
}

/*----------- HEADER - OTHERS --------------*/

/*----------- NAVIGATION --------------*/

nav {
    background-color: #c6ebbe;
    text-align: center;
    justify-content: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 960px;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 0.95rem;
    background: linear-gradient(90deg, transparent, yellow, transparent) top / var(--d, 0) 10px no-repeat;
    transition: 0.5s;
}

nav a:hover {
    --d: 75%;
}

nav button {
    flex-direction: row;
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
    display: block;
    width: auto;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/*----------- MAIN --------------*/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    font-size: 0.8rem;
    margin-left: -30px;
}
.mainGrid {
    display: grid;
    grid-row: 1;
    grid-row-start: 1;
    grid-row-end: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}
.container {
    display: grid;
    grid-row: 2;
    grid-row-start: 2;
    grid-row-end: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    font-size: 0.8rem;
    padding: 30px;

}
.pic_banner {
    justify-content: center;
    align-items: center;
}
.weather {
    top: 25px;
    right: 50px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #333;
    opacity: 1;
}

/* .history {
    grid-template-columns: 1fr;
}

.mission {
    grid-template-columns: 1fr;
}

.partner {
    grid-template-columns: 1fr;
} */

.home-img0, .home-img1, .home-img2 {
    border: dotted blue;
}
.home-img0 {
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: auto;
}
/*----------- MAIN-JOIN html --------------*/

form fieldset {
    margin: 2rem;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: chocolate;
    font-size: 0.8rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 8px;
}

form label.top input:required:valid {
    border-left: green solid 8px;
}

#highlight {
    background-color: rgb(75, 107, 75);
}

textarea {
    width: 96%;
}

#thanks {
    font-style: italic;
    text-decoration-color: #4567aa;
    width: 400px;
}

/*----------- MAIN-DISCOVER html --------------*/

.visitInfo {
        background-color: #c6ebbe;
        text-align: center;
        justify-content: center;
        box-shadow: 0 2px 15px gray;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: auto;
}
.grid-container {
    flex: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-container h1 picture p {
    float: right;
}
.lazyload {    
	width: auto;
	border: #000 10px;
	display: block;
	gap: 1.5rem;
	margin: 20 0 0 0;
}

.lazyload_img {
    grid-row: auto;
    width: 400px;
    padding: 50px;
    margin-bottom: 75px;
}
/*----------- MAIN-Directory --------------*/

.directory {
    width: auto;
    border: #000 10px;
    /* display: flex;
	flex-direction: column; */
    gap: 1.5rem;
    margin: 0 0 0 0;
}
h2 {
    margin-bottom: 3px;
    margin-top: 8px;
    font-size: 5px;
}

.businessname {
    color: rgb(50, 67, 224);
}

.address {
    color: rgb(79, 94, 221);
    font-size: smaller;
}

.phonenumber {
    color: rgb(119, 130, 226);
    font-size: smaller;
}

.website {
    color: rgb(8, 1, 14);
    font-size: small;
}

.email {
    color: rgb(5, 1, 8);
    font-size: small;
}

.main-dir {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1/5; */
    margin: 1rem;
    position: relative;
    border-top: 5px solid #555;
    text-align: center;
    background-color: #c6ebbe;
    display: block;
}

.busdirect {
    color: #445ba9;
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px #999;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 3px;
}

.main-dir .directory section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    align-items: center;
    border: #9c2c13 dashed;
}

section img {
    width: 95%;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    max-height: 200px;
    border: 1px solid #333;
}

section.cards {
    /* grid-column: 1 / 4;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px; */
    /* row-gap: 20px;
    column-gap: 20px; */
    margin: 20px 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
}

/*----------- FOOTER --------------*/

footer {
    display: inline-block;
    background-color: #bed;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}
footer p {
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
