/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
/* html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} */

/*----------- apply a natural box layout model to all elements --------------*/
/* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } */

@charset "UTF-8"; /* not necessary */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* phone or baseline views **************************/
:root {
    --clr-text:    var(--clr-text);
    --main-clr-bg: 98e2c6;

    --ff-title: "Merriweather", serif;
    --ff-para: "Merriweather", serif;
}
html {
    box-sizing: border-box;
    font-family: var(--ff-para);
    color: var(--clr-text);
    font-size: 1.125rem;
}
img {
    display: block;
    max-width: 100%;
}
/*----------- TYPE --------------*/
h2 {
    font-family: var(--ff-title);
    line-height: 0.8;
    font-size: 20px;
}
h1, h2, h3, p {
    margin: 0;
}

/*----------- BODY --------------*/
body {
	font-size: 16px;
	font-family: var(--ff-title)
}
header,
footer {
	background-color: #bed;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px;
    margin: 20px;
}
header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}
/*----------- HEADER --------------*/
header img {
    width: 80px;
    height: auto;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}
.logo {
    float: left;
    margin: 0;
}
h1 {
	font-size: 1.1rem;
}
h2 {
	color: #536878;
}
p  {
    font-size: 1rem;
}
div#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #c6ebbe;
    width: 100%; 
  }
  div#banner-content { 
    width: 800px; 
    margin: 0 auto; 
    padding: 10px; 
    border: 1px solid #000;
    text-align: center;
    display: none;
  }
/*----------- HEADER - BusinessSectors --------------*/
.headings {
    display: flex;
    flex-direction: row;
}
/*----------- NAVIGATION --------------*/
nav {
    background-color: #c6ebbe;
    text-align: center;
    justify-content: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    width: 960px;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
    font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}
nav a:hover {
	--d: 75%;
}
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {display: block;}
nav ul.open {display: block;}
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
/*----------- MAIN --------------*/
main {
	display: grid;
	font-size: 0.8rem;
}
.indexgrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
	margin: .5rem;
	border: 1px solid #bbb;
	padding: 1rem;
}
main article ul {
margin: 1rem 0 0 1rem;
}
main picture {
	display: none;
	margin: 0.5rem;
    background-color: #eee;
}
.pic_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.floatdiv  {
    position: left;
    border: 3px dashed cyan;
    width: 400px;
    height: 100px;
    font: bolder;
  }
.weather {
      position: absolute;
      top: 25px;
      right: 50px;
      background: radial-gradient(#eee, #4567aa);
      border: 1px solid #000;
      padding: 1.5rem;
      box-shadow: 0 0 30px #333;
      opacity: 1;
  }
  #WELT_FColor {
      float: right;
  }
/*----------- MAIN-JOIN html --------------*/
form fieldset {
    margin: 2rem;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color:chocolate;
    font-size: 0.8rem;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 8px;
}
form label.top input:required:valid {
    border-left: green solid 8px;
}
#highlight {
    background-color: rgb(75, 107, 75);
}
textarea {
    width: 96%;
}
#thanks {
    font-style: italic;
    text-decoration-color: #4567aa;
    width: 400px;
}
/*----------- MAIN-DISCOVER html --------------*/
.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}
#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}
.today {
	color: tomato;
}
.grid-container {
    flex: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
}
.grid-container h1 picture p {
    float: right;
}
.lazyload_img {
        grid-row: auto;
        width: 400px;
        padding: 50px;
        margin-bottom: 75px;
}
.discover_details {
    flex: 50%;
    /* grid-row: auto; */
    width: 400px;
    height: 300px;
    padding: 50px;
    margin-bottom: 75px;
    font-size: 1em;
    font-family: "Sansita", Ubuntu, sans-serif;
}
img {
    filter: blur(0em);
    margin-bottom: 25px;
    filter: drop-shadow(25px 10px 4px #79797c);
}
img[data-src] {
    filter: blur(0.2em);
  }
#TxtBx400_250 {
    box-sizing: 400 250;
    height: 250;
    width: 400;
    font-size: 2em;
}
#TxtBx400_300 {
    box-sizing: 400 250;
    height: 250;
    width: 400;
    font-size: 2em;
}
#TxtBx400_400 {
    box-sizing: 400 250;
    height: 250;
    width: 400;
    font-size: 2em;
}
/*----------- Business-Sectors --------------*/
.busPic {
    background-color: #333;
    background-image: url(image/Timaru.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 15vh 1em;
}

/*----------- Directory --------------*/
.directory {
    border: #000 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
h2 {
    margin-bottom: 3px;
    margin-top: 8px;
}
.businessname {
    color: rgb(50, 67, 224);
}
.address  {
    color: rgb(79, 94, 221);
    font-size: smaller;
}
.phonenumber  {
    color: rgb(119, 130, 226);
    font-size: smaller;
}
.website {
    color: rgb(8, 1, 14);
    font-size: small;
}
.email {
    color: rgb(5, 1, 8);
    font-size: small;
}
.main-dir {
  margin: 1rem;
  position: relative;
  border-top: 5px solid #555;
  text-align: center;
  background-color: #c6ebbe;
}
.busdirect {
  color: #445ba9;
  border-bottom: 1px solid #eee;
  text-shadow: 0 0 15px #999;
  width: 100%;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section img {
  width: auto;
    max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
    height: auto;
}
/*----------- FOOTER --------------*/
footer {
	height: 2rem;
}