/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* @media screen (max-width: 480px); { */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

/* phone or baseline views **************************/

:root {
  --clr-text: rgb(58, 52, 52);
  --main-clr-bg: rgb(247, 231, 211);
  --clr-bg: white;
  --header-clr-text: #545c52;
  --nav-bg-color: white;
  --msg-bg-color: #98e2c6;
  --header-clr-bg: #bfedef;
  --footer-clr-bg: #bfedef;
  --ff-title: "Merriweather", serif;
  --ff-para: "Merriweather Sans", serif;
}
/*----------- TYPE --------------*/
h2 {
  font-family: var(--ff-title);
  line-height: 1.1;
}
h1,
h2,
h3,
p {
  margin: 0;
}
/*-----HOME PAGE-----*/
* {
  max-width: 1500px;
  margin: 0 auto;
}
/*----------- BODY --------------*/

/*----------- HEADER --------------*/
header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--header-clr-bg);
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  font-family: var(--ff-title);
  font-size: 1rem;
  color: var(--header-clr-text);
}
header h1 {
    font-size: large;
    margin-bottom: 30px;
}
.social img {
  width: 35px;
}
.social,
nav ul li a {
  align-items: end;
  text-align: center;
}
/*----------- HEADER - OTHERS --------------*/

/*----------- NAVIGATION --------------*/
nav ul li a {
  text-decoration: none;
  color: var(--header-clr-text);
  display: block;
  padding: 0.8rem 2vw;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
}
nav ul li.active {
  background-color: var(--nav-bg-color);
}
nav ul li a:hover {
  background-color: var(--main-clr-bg);
  color: blue;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav {
  background-color: var(--nav-bg-color);
}
picture img,
div img {
  border-radius: 0.5em;
  width: 190px;
  margin-bottom: 10px;
}

picture .wdd230img {
  display: block;
  width: 46%;
  margin: 0 2%;
}
picture .hero-pic2 {
    height: 40%;
}
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

.banner {
  background-color: var(--msg-bg-color);
  padding: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  border-radius: 0.5em;
  grid-column: 1/5;
}
.message {
  margin: 0.5rem 2vw;
  padding: 5px;
  background-color: var(--header-clr-text);
  color: white;
  display: none;
}
p {
  font-family: var(--ff-para);
  font-size: 16px;
  color: var(--header-clr-text);
}
/*----------- MAIN --------------*/
main.home-grid {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 98%;
}

.hero,
.join {
  position: relative;
  text-align: center;
  color: var(--header-clr-text);
  font-family: var(--ff-title);
}
.action-call {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: radial-gradient(#eee, #0b3948);
  border: 1px solid #eee;
  padding: 1.5rem;
  box-shadow: 0 0 30px #333;
  opacity: 0.8;
  border-radius: 0.5rem;
}
.action-call p {
  font-family: var(--ff-title);
}
.join-text {
  margin-top: 30%;
}
.join-action {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  background: radial-gradient(#eee, #0b3948);
  border: 1px solid #eee;
  padding: 1.5rem;
  box-shadow: 0 0 30px #333;
  opacity: 0.8;
  border-radius: 0.5rem;
  width: 50%;
}
.top-left {
  position: absolute;
  top: 1%;
  left: 5%;
}
.top-left h1 {
  font-family: var(--ff-para);
  color: var(--clr-text);
  text-shadow: 1px 1px #0b3948;
}
section.action-call a:hover,
div.join-action a:hover {
  color: yellow;
  text-decoration: none;
}
.hero,
.news,
.highlight,
.join,
.event,
.weather {
  margin: 0.25rem auto;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  background-color: var(--main-clr-bg);
}
.hero img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  border-radius: 0;
}
.hero {
  padding: 0;
}

.highlight {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.highlight1,
.highlight2,
.highlight3 {
  margin: 0.25rem auto;
  padding: 1rem;
  width: 95%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
.highlight3 {
  display: none;
}

  font-family: var(--ff-para);
  color: var(--header-clr-text);
}

.news-text,
.event-text,
.event-text1,
.weather p,
.weather-box,
.weather-temp,
.weather-tb,
.join-text {
  color: var(--header-clr-text);
  padding: 0.5rem;
}

table td {
  font-family: var(--ff-para);
}

figure figcaption {
  font-family: var(--ff-title);
}
td.windspeed,
td.windchill {
  text-align: start;
  margin-left: auto;
  margin-right: auto;
}
tr.weather-timestamp td {
  font-family: var(--ff-para);
  font-size: 0.8rem;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
}

#weathericon {
  width: 75px;
}
.event-text1 a {
  color: white;
}
.lastmod {
  margin: 0.25rem auto;
  padding: 0;
}

hr {
  color: white;
  width: 95%;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
/*-----DIRECTORY PAGE-----*/
.directory {
    width: auto;
    border: #000 10px;
    gap: 1.5rem;
    margin: 0 0 0 0;
}
.directory h2 {
    margin-bottom: 3px;
    margin-top: 8px;
    font-size: 5px;
}

.businessname {
    color: rgb(50, 67, 224);
    font-size: large;
}

.address {
    color: rgb(79, 94, 221);
    font-size: medium;
}

.phonenumber {
    color: rgb(119, 130, 226);
    font-size: medium;
}

.website {
    color: rgb(8, 1, 14);
    font-size: small;
}

.email {
    color: rgb(5, 1, 8);
    font-size: small;
}

.main-dir {
    position: relative;
    border-top: 5px solid #555;
    text-align: center;
    background-color: #c6ebbe;
    display: block;
}

.busdirect {
    color: #445ba9;
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px #999;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 40px;
}

.main-dir .directory section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    align-items: center;
}

section img {
    width: 95%;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    max-height: 200px;
    border: 1px solid #333;
}

section.cards {
    margin: 20px 10px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
}

/* DISCOVER PAGE */
.visitInfo {
  background-color: #c6ebbe;
  text-align: center;
  justify-content: center;
  box-shadow: 0 2px 15px gray;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: auto;
}
.grid-container {
  flex: 50%;
  display: grid;
  grid-template-columns: auto auto; 
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.grid-container h1 picture p {
  float: right;
}
.lazyload {
  width: auto;
  border: #000 10px;
  display: block;
  gap: 1.5rem;
  margin: 20 0 0 0;
}

.lazyload_img {
  grid-row: auto;
  width: 400px;
  padding: 50px;
  margin-bottom: 75px;
  padding: 10px;
  gap: 10px;
}

/*-----JOIN PAGE (FORMS)-----*/

form fieldset {
    margin: 2rem;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: chocolate;
    font-size: 0.8rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 8px;
}

form label.top input:required:valid {
    border-left: green solid 8px;
}

#highlight {
    background-color: rgb(75, 107, 75);
}

textarea {
    width: 96%;
}

/* CONTACTS PAGE  */
main .contact {
    display: grid;
    grid-template-columns: 40vw 40vw;
}
main .googleMap2 {
    margin: 10px;
    border: dotted orange;
    display: block;
}
.contact h1 {
    align-items: center;
    margin-left: 60px;
}
main form {
    border: dotted blue;
}

/*-----THANKS PAGE-----*/
#thanks {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 1200px;
    background-color: var(--main-clr-bg);
    color: var(--header-clr-text);
    font-family: var(--ff-title);
    text-align: center;
    margin: 2% auto;
    padding: 2%;
    border-radius: 4px;
  }
/*----------- FOOTER --------------*/

footer,
.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: var(--footer-clr-bg);
  margin: 0 auto;
  border-radius: 0.5em;
  font-family: var(--ff-title);
  font-size: 20px;
  color: var(--header-clr-text);
}
.footer-grid {
  background-color: var(--msg-bg-color);
}

.footer-img,
.footer {
  border-radius: 0.5em;
  margin-top: 0.25rem;
}

.footer a {
  text-decoration: none;
}
.footer a:hover {
  background-color: var(--main-clr-bg);
  color: blue;
}
.footer a {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--header-clr-text);
}
