/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
    --clr-text: black;
    --main-clr-bg: rgb(247, 231, 211);
    --clr-bg: white;
    --header-clr-text: #545C52;
    --nav-bg-color: white;
    --msg-bg-color: #98E2C6;
    --header-clr-bg: #bfedef;
    --footer-clr-bg: #bfedef;
    --ff-title: "Merriweather", serif;
    --ff-para: "Merriweather Sans", serif;
}

@media only screen and (min-width: 37.5rem) {
    header h1 {
        font-size: large;
        align-content: center;
    }
    
    nav ul {
        display: none;
    }
    
    nav ul.open {
        display: block;
    }
    .action-call {
        bottom: 15px;
        right: 15px;
    }
    .top-left {
        position: absolute;
        top: 1%;
        left: 5%;
        font-family:'Roboto', sans-serif; 
        font-size: 26px;
    }

    main.home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hero {
        grid-area: 1/1/2/4;
    }
    .news {
        grid-area: 2/1/3/4;
    }
    .highlight {
        grid-area: 3/1/4/4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    .join {
        grid-area: 4/1/5/4;
        
    }
    .event {
        grid-area: 5/1/6/3;
    }
    .weather {
        grid-column: 3 / 4;
        grid-row: 5;
    }

    .join-action {
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .join-text {
        margin-top: 15%;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .footer-img {
        grid-area: 1/1/2/2;
    }
    .address {
        grid-area: 1/2/2/3;
    }
    .info {
        grid-area: 1/3/2/4;
    }
    
    /* DISCOVER PAGE */
    main.discover {
        width: 680px;
        padding: 1rem;
    }
    div.discover-demographics {
        display: block;
        width: 300px;
    }

    .discover-scenery section {
        width: 300px;
    }
    .discover-scenery {
        height: 810px;
        overflow: scroll;
    }
    .discover-container {
        display: flex;
        gap: .5rem;
    }
    /* -----DIRECTORY PAGE-----*/
    div.cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* CONTACT PAGE  */
    section.contact-picture, section.contact-details div, section.join-form {
        max-width: 800px;
    }
}
