:root {
--main-bg-color: 98e2c6;
--main-text-color: black;
--header-footer-bg-color: 98e2c6;
--header-footer-text-color: 545c52;
--header-heading-color: #bbc7ce;
--nav-bg-color: #faf0b0;
--nav-text-color: 545c52;
--nav-hover-bg-color: #bfedef;
--heading-bg-color: #bfedef;
--heading-text-color: white;
}

body {
    font-family: 'Merriweather', serif;
    max-width: 80vw;
}

header, footer {
    width: 70vw;
    text-align: center;
    background-color: var(--header-footer-bg-color);
    box-shadow: #454;
    padding: 10px;
    border-radius: 10px;
}
#pic_by_sea, #logo  {
    display: grid;
    grid-gap: 2vw;
    grid-template-rows: 2em auto 2em 20vw;
    text-align: center;
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px #454;
    border-radius: 0 10px 0 0;
    padding: 10px;
}
h1, #weblink {
    font-size: 1.5em;
    margin: 0.15rem;
    text-align: center;
}
h2 {
    font-size: 1em;
    margin: 0.15rem;
    text-align: center;
}
p {
    width: 60vw;
    text-align: center;
}
table,th,td {
	border: thin solid #333;
	border-collapse: collapse;
	padding: 5px;
}
td {
	background-color: #bad;
	font-size: 0.8rem;
	text-align: center;
}
header, nav, main, footer {
    padding: 1vw;
    margin-top: 15px;
}
nav {
    background-color: var(--nav-bg-color);
    width: 70vw;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
#logo {
    grid-row: 4/4;
}
.purpose_logo p {
    grid-row: 2/3;
    padding: 1vw;
}
.purpose_logo img {
    grid-row: 4/5;
    margin: 0 auto;
    margin-top: 3.5vw;
}
.mint_green {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.light_blue {
    background-color: white;
}
.yellow {
    background-color: var(--nav-bg-color);
    color: white;
}
.silver_sand {
    background-color: var(--heading-bg-color);
    color: white;
}
.coolors {
    background-color: var(--heading-bg-color);
    text-align: center;
}
.typography-body {
    text-align: center;
}