@media only screen and (min-width: 60em) {
	header img {
		width: 100%;
		height: auto;
	}
	main {
        display: block;
    }
    nav {
        display: block;
        flex-direction: row;

    }
}